<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JokenPy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>JokenPy</h1>

        <p>Escolha uma opção:</p>

     <div class="botoes">

    <button onclick="jogar('Pedra')">🪨 Pedra</button>

    <button onclick="jogar('Papel')">📄 Papel</button>

    <button onclick="jogar('Tesoura')">✂️ Tesoura</button>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>