<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JokenPy</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

    <div class="container">

        <h1>JokenPy</h1>

        <p>Escolha uma opção:</p>

        <div class="botoes">
            <button>🪨 Pedra</button>
            <button>📄 Papel</button>
            <button>✂️ Tesoura</button>
        </div>

        <h2>Resultado</h2>

        <p id= "resultado">Aguardando jogada...</p>

        
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>